* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: #1b0233;
    
}
.container {
    background: #8536cf;
    max-width: 800px;
    margin: 60px auto;
    height: 1250px;
    padding: 20px;

   
}
.header{
    text-align: center;
}
.header h1 {
    margin-bottom: 10px;
}
.header h3 {
    font-size: 18px;
    font-weight: 500;
}   
.img {
    width: 200px;
    height: 200px;
    border-radius: 35%; 
    overflow: hidden;
    margin: 25px auto;
    border: 15px groove darkorchid;

}
.img img {
    width: 100%;
    
}
.main {
    display: flex;
    flex-wrap: wrap;
}
.left {
    flex: 1;
    padding: 25px ;
}
.left p{
    line-height: 1.6;
}
.left ul li {
    line-height: 1.6;
}
h2 {
    background: #108241;
    padding: 10px;
    margin: 20px 0;
    color: #fff;
    font size: 20px;
    border-radius:  0 50px 50px 0;
}
.right {
    flex: 1;
    padding: 30px;
}
.right h2 {
    margin-bottom: 15 px ;
}
.right p {
    line-height: 1.6;
}
footer {
    color: #f0f0f0;
    text-align: center;
    padding: 25px 10%;
    font-size: 0.8em;
    margin-top: 20px;
}
.icons a{
    text-decoration: none;
    padding: 30px;
    margin: 15px;
    border-radius: 100%;
}
.icons a i{
    font-size: 20px;
    color: #f0f0f0;
    opacity:0.7;
}